Source: printer-driver-indexbraille
Section: text
Priority: optional
Maintainer: Simon Aittamaa <simon.aittamaa@neava.se>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Homepage: http://www.indexbraille.com

Package: printer-driver-indexbraille
Architecture: all
Depends: ${misc:Depends}
Description: Enables CUPS printing to Index Braille printers.
 This package contans the necessary filters and PPDs for installing and
 printing to Index Braille printers.
